:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.6em);
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #000;
  box-shadow: 0 .5em .8em rgba(0, 0, 0, 0.4);
}

.menu__container {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu__item {
  border-top: 1px solid #fff;
}

.menu__item a {
  display: block;
  padding: .8em;
  text-decoration: none;
  color: #fff;
}

.menu__item a:hover {
  background-color: #fff;
  color: #000;
}

.toggle-button {
  position: absolute;
  top: 13px;
  right: 5px;
  background-color: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.is-open {
  display: block;
}

/* navbar medium and big screen */
@media screen and (min-width: 30em) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  .menu__container {
    display: inline-block;
  }

  .menu__item {
    display: inherit;
    border: 0;
  }

  .toggle-button {
    display: none;
  }

}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1.2em;
  color: #000;
}

.about {
  background-color: #fff;
}

.benefits {
  background-color: tomato;
}

.faq {
  background-color: crimson;
}

footer {
  background-color: #000;
  text-align: center;
  color: #fff;
  padding: 1em;
}